body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.light-mode {
  background: #ffffff;
  color: black;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.task-section, .timer-section {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  margin: 10px;
}

.light-mode .task-section,
.light-mode .timer-section {
  background: #f2f2f2;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.chart-container {
  width: 80%;
  margin: 40px auto;
}